.o-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;

    img {
        width: 155px;
        height: 45px;
        object-fit: cover;

        @include respond-to-up('lg') {
            width: auto;
            height: auto;
        }
    }

    ;

    i {
        font-size: 24px;
        cursor: pointer;

        @include respond-to-up('lg') {
            display: none;
        }
    }

    &__menu {
        display: none;
        align-items: center;
        gap: 20px;

        @include respond-to-up('lg') {
            display: flex;
        }

        a {
            font-size: 15px;
            font-weight: 600;
            color: #07294d;
            text-transform: uppercase;
            font-style: normal;

            &:hover {
                color: #ffc600;
                transition: all 0.3s ease;
            }
        }
    }

    &__mobile-menu {
        display: flex;
        flex-direction: column;
        gap: 20px;
        position: absolute;
        background-color: #fff;
        top: 65px;
        left: -100%;
        height: calc(100vh - 65px);
        width: 100%;
        transition: all 0.3s ease;
        opacity: 0;
        visibility: hidden;

        a {
            font-size: 15px;
            font-weight: 600;
            color: #07294d;
            text-transform: uppercase;
            font-style: normal;

            &:hover {
                color: #ffc600;
                transition: all 0.3s ease;
            }
        }

        &-item {
            padding: 15px 25px;
        }

        &.active {
            left: 0;
            opacity: 1;
            visibility: visible;
        }
    }
}